* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  color: white;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h2 {
  width: 120px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  padding: 5px;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009968;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  transform: translate(y);
  top: 50%;
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 70px;
}

.content p {
  font-size: 20px;
  font-weight: 70px;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  background: transparent;
  font-weight: bold;
  border: 2px solid #009968;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button a {
  text-decoration: none;
  color: white;
}

button.blog:hover {
  transition: 0.5s;
  color: white;
  font-size: 16px;
}

button.sub:hover {
  transition: 0.5s;
  color: white;
  font-size: 16px;
}
